.portfolio{
    margin-top: 108px;
    color: #2c3e50;
}

.portfolioHeading{
    font-size: 40px !important;
    font-weight: 700;
    color: #2c3e50;
    text-align: center;
}
.leftLine{
    height: 4px;
    width: 80px;
    background-color: #2c3e50;
}
.rightLine{
    height: 4px;
    width: 80px;
    background-color: #2c3e50;
}
.innerLayer:hover .imgdecoration{
    opacity: 1 !important;
    cursor: pointer;
}
.imgdecoration{
    background-color: #1abc9ce6;
    transition: opacity 0.5s;
}
.outerLayer{
    z-index: 999999999;
}
.images{
    width: 600px;
}